.footer {
  margin-top: auto;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  border-top: 1px solid var(--color-border);
}

.text {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;  
}
