.header {
    width: calc(100% - 2rem);
    height: 4rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.items {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.list {
    display: flex;
    align-items: center;
    padding: 0;
}

.link {
    text-decoration: none;
    padding: 0;
    color: var(--color-text);
}

.link:hover {
    text-decoration: underline;
}