.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 96px);
}

.container .image {
    width: 200px;
    height: 200px;

}

.container .image {
    margin: 0;
}

.container .image img {
    border-radius: 50%;
    transform: sclae(1.2);
}

.description {
    font-size: 24px;
    font-weight: 500;
}

.description .button {
    width: 40px;
    height: 40px;
    margin: 8px 8px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-button);
}

.description .button:hover {
    background-color: var(--color-hover);
}

.icon {
    font-size: 24px;
    color: var(--color-sns);
}
