.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: min(1024px,calc(100% - 2rem));
    margin: 4rem 0 0 0;
    padding: 0 1rem;
}

.button {
    display: inline-flex;
    flex: 0 0 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 25rem;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: var(--color-button2);
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
}

.button:hover {
    transform: translateY(-0.5rem);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: min(1024px,calc(100% - 2rem));
    margin: 4rem 0 0 0;
    padding: 0 1rem;
}