.container {
    display: flex;
    height: 100%;
    width: min(1024px,calc(100% - 20rem));
    margin: 4rem 0 0 0;
    padding: 0 2rem;
    flex-direction: column;
}

pre {
    background-color: var(--color-inline);
    font-weight: 100;
}

pre code {
    font-weight: 400;
    ;
}