.container {
    display: flex;
    height: 100%;
    width: 70%;
    margin: 8rem auto 4rem auto;
    flex-direction: column;
}

.container .introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    border-bottom: 1px solid var(--color-border);
}

.atcoder {
    color: var(--color-text);
    font-weight: bold;
}

.atcoder:hover {
    color: var(--color-hover);
}

.green {
    color: var(--color-green);
}